* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sp {
  padding: 40px 0;
}

body {
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: rgb(236, 108, 90);
  --primary-white-color: #ffffff;
  --secondary-color: rgb(70, 173, 118);
  --card-color-gray: gray;
  --testmonial-color: rgb(226, 243, 240);
  --text-color: rgb(49, 51, 58);
  --body-text-color: rgb(114, 114, 114);
  --cat-green-color: #d6f5e0;
  --cat-gray-color: #e9ecf0;
  --cat-mango-color: #fef1d6;
  --cat-deepmango-color: #fac877;
  --cat-pink-color: #ffe9e5;
  --cat-deeppink-color: #fd826c;
  --transition: all 0.3s ease-in;
}
ul {
  list-style: none;
}
.top-bar {
  background-color: var(--primary-color);
}

/* Nav Menu */
.nav-menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--text-color);
}

/* Banner */

/* .banner {
  background-image: url(img/billboard-bg.png);
  background-repeat: no-repeat;
} */
.banner-content {
  padding-top: 180px;
}
.banner-form {
  position: relative;
}
.banner-form button {
  position: absolute;
  top: 6px;
  right: 5px;
  background-color: var(--secondary-color);
  border-radius: 15px;
  border: none;
  padding: 7px 15px;
}

/* Feature */
.feature {
  position: relative;
}
.feature-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feature-item {
  box-shadow: 4px 4px 10px rgba(150, 150, 150, 0.192);
  border-radius: 15px;
  background-color: var(--primary-white-color);
  transition: var(--transition);
}
.feature-item:hover {
  background-color: var(--secondary-color);
  color: var(--primary-white-color);
}

.feature-item h2 {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-color);
  transition: var(--transition);
}
.feature-item:hover h2 {
  color: var(--primary-white-color);
}

.feature-item h6 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

/* About */
.padding-medium {
  padding: 8rem 0;
}
.about-p {
  color: var(--primary-color);
}
#about i {
  color: var(--primary-color);
}

.about-btn {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  background: var(--secondary-color);
  color: var(--primary-white-color);
  border-radius: 40px;
  padding: 15px 45px;
  margin-top: 30px;
}

.about-btn:hover {
  color: var(--primary-color);
}

/* Catagory */
.cat-info p {
  color: var(--primary-color);
}
.cat-info h1 {
  font-weight: 600;
}
.cat-btn {
  background-color: var(--secondary-color);
  color: var(--primary-white-color);
  border-radius: 40px;
  padding: 15px 70px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
}
.cat-box i {
  color: var(--secondary-color);
  font-size: 50px;
}

.cat-green {
  background-color: var(--cat-green-color);
}
.cat-gray {
  background-color: var(--cat-gray-color);
}
.cat-mango {
  background-color: var(--cat-mango-color);
}
.cat-pink {
  background-color: var(--cat-pink-color);
}

.cat-pink:hover {
  background-color: var(--cat-deeppink-color);
  color: var(--primary-white-color);
  transition: var(--transition);
}
.cat-green:hover {
  background-color: var(--cat-deeppink-color);
  color: var(--primary-white-color);
  transition: var(--transition);
}
.cat-mango:hover {
  background-color: var(--cat-deepmango-color);
  color: var(--primary-white-color);
  transition: var(--transition);
}
.cat-gray:hover {
  background-color: var(--cat-deepmango-color);
  color: var(--primary-white-color);
  transition: var(--transition);
}

/* Courses */
.card-body {
  position: relative;
}
.badge {
  position: absolute;
  top: 25px;
  left: 24px;
  background-color: brown;
  color: var(--primary-white-color);
  border-radius: 6px;
  padding: 3px 10px;
  font-size: 14px;
}
.cource-title p {
  color: var(--primary-color);
}
.cource-title h1 {
  font-weight: 600;
}

.card-body img {
  width: 270px;
  border-radius: 8px;
}

.card-info .card-title h5 {
  font-weight: 700;
}

.card-info .card-text h5 {
  font-weight: 700;
}
.card-info .card-text h4:hover {
  color: var(--secondary-color);
  transition: var(--transition);
}

/* Testimonial */
#testmonial {
  background-color: var(--testmonial-color);
}

.test-title p {
  color: var(--primary-color);
}
.test-title h1 {
  font-weight: 600;
}

.test-info img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

/* Teacher */
.teacher-box img {
  width: 230px;
  border-radius: 8px;
}
.teacher-title p {
  color: var(--primary-color);
}
.teacher-info p {
  color: var(--primary-color);
}

/* Points */
.point-title p {
  color: var(--primary-color);
}

.points-info i {
  color: var(--primary-color);
}
